@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.pt-BR.cshtml";
}

<h2>Minha Página em Portugues</h2>
<a href="@Url.RouteUrl(new { lang = "pt-BR", controller = "Home", action = "Sobre" })">Sobre</a>