@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.en.cshtml";
}

<h2>My Page is English</h2>

<a href="@Url.RouteUrl(new { lang = "en-US", controller = "Home", action = "About" })">About</a>
